/* Обнуление */
*,
*,::before,
*,::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1570px;
    margin: 0px auto;
    padding: 0 50px;
    box-sizing: content-box;
}
/* -------------ШАПКА------------------ */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.runningLine {
    display: flex;
    width: 200%;

    color: white;
    background: linear-gradient(89.74deg, rgba(255, 255, 255, 0.8) 1.92%, rgba(0, 160, 210, 0.8) 73.7%);
}
.rl_item {
    display: flex;
    animation: runLine 60s linear infinite;
}
.runningLine h1 {
    white-space: nowrap;
    font-size: 20px;
    margin: 5px 80px 5px 80px;
}
@keyframes runLine {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.header__container {
    display: flex;
    min-height: 165px;
    align-items: center;
}
.header__logo_img {
    margin: 0 10px 0 0;
}
.header__logo {
    font-size: 24px;
    font-weight: 600;
    color: #1092FF;
}
.header__menu {
    margin: 0 0 0 43px;
}
@media (max-width: 757px) {
    .header__menu {
        margin: 0 0 0 13px;
    }
}


.menu {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {
    margin: 5px 0 40px 58px;
}
.menu_link {
    color: #1092FF;
    line-height: calc(18 / 16 * 100%);
    font-weight: 900;

    border: 2px solid #8AD1FF;
    background: #1093ff00;
    border-radius: 40px;
}
@media (max-width: 479px) {
    .menu_link {
        font-size: 16px;
    }
}
@media (max-width: 1920px) {
    .menu_link {
        width: 160px;
        font-size: 19px;
    }
}

